body
{
	background-color: #dddddd;
}

.table
{
	display: table;
}

.row
{
	display: table-row;
}

.cell
{
	display: table-cell;
	border: solid;
	border-width: thin;
	padding: 40px;
	background-color: #ffffff;
}

.screen
{
	border: solid;
	border-width: bold;
	padding-left: 195px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 8px;
}

