body
{
	background-color: #dddddd;
}

.table
{
	display: table;
}

.row
{
	display: table-row;
}

.cell
{
	display: table-cell;
	border: solid;
	border-width: thin;
	padding: 36px;
	background-color: #ffffff;
	border-color: 6a6a6a;
	font-size: 200%;
	cursor: hand;
}

.cell:hover
{
		background-color: #aaaaaa;
}

.cell:active
{
	background-color: #cccccc;
}

.screen
{
	border: solid;
	border-width: bold;
	border-color: #6a6a6a;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-bottom: 8px;
	font-size: 187%;
	text-align: right;
}

#calculator
{
	background-color: aaaaaa;
	width: 361px;
	margin-top: 20px;
	margin-left: 20px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

